* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.add-padding {
    padding: 0 10%;
}

button {
    width: max-content;
    padding: 0.3em 1.5em;
    color: #e5e7eb;
    background-color: #3882f6;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

header {
    color: white;
    background-color: #1f2937;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    color: #f9faf8;
    font-size: 24px;

}

ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.site-summary {
    color: #f9faf8;
    background-color: #1f2937;
    height: 500px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10px;
}

.site-summary .info {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.site-summary .header {
    font-size: 48px;
    font-weight: 900;
}

.site-summary .body {
    color: #e5e7eb;
    font-size: 18px;
}

.site-img {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.site-img img {
    flex: 1 1 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.random-info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-cards {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    gap: 20px;
}

.info-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote .content {
    background-color: #e5e7eb;
    width: 600px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.user-name {
    /* align-self: self-end; */
    text-align: end;
    font-weight: bold;
}

.sign-up {
    display: flex;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: #3882f6;
    color:white;
    font-weight: 800;
    font-size: 18px;
    margin: 50px 0px;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
}

.pls {
    font-size: smaller;
    font-weight: 100;
}

.call-to-action button {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

footer .text {
    padding: 20px 0px;
}